<table>
	{{ range after 3 .}}
		{{- $name := ""}}
		{{- $price := ""}}
		{{- $header := ""}}
		{{- range $i, $v := .}}
			{{- if eq $i 0}}
				{{- $header = $v}}
			{{- else if eq $i 1}}
				{{- $name = $v}}
				{{- with not $header}} {{$header = $v}} {{end}}
			{{- else if eq $i 3}}
				{{- $price = $v}}{{end}}
			{{- end}}
		{{- with $price}}
				<tr>
					<td>{{safeHTML (htmlUnescape $name)}}</td>
					<td>{{safeHTML (htmlUnescape (strings.Replace (strings.Replace $price "\u00A0" "") "₽" "<span class=\"rouble\">e</span>"))}}</td>
				</tr>			
		{{- else}}
			{{- with $header}} <tr><td><h4>{{$header}}</h4></td></tr> {{end}}
		{{- end}}
	{{- end}}
	</table>